/** Defining Fonts **/
@font-face {
  font-family: 'Neucha';
  src: url('../assets/fonts/Neucha-Regular.ttf');
}

@font-face {
  font-weight: normal;
  font-family: 'Open Sans';
  src: url('../assets/fonts/OpenSans-Regular.ttf');
}

@font-face {
  font-weight: bold;
  font-family: 'Open Sans';
  src: url('../assets/fonts/OpenSans-Bold.ttf');
}

/** CSS Variables **/
:root {
  --primary-color: #fe8a02;
  --white-transparent-color: #d7ccc0;
  --white-light-color: #f5f4f0;
  --main-dark-color: #42413c;
  --dark-color: #2a2626;
  --secondary-color: #908d8b;
  --brown-color: #b09a81;
  --blue-color: #1085c5;
}

/** Main CSS Styles **/
* {
  box-sizing: border-box;
}

body {
  margin: 0;

  color: var(--dark-color);

  font-size: 16px;
  font-family: Open Sans, sans-serif;
  line-height: 1.6em;
}

h1,
h2,
h3,
h4,
.h1,
.h2,
.h3,
.h4 {
  margin-top: 0;
  margin-bottom: 0;

  color: var(--primary-color);
  font-weight: normal;
  font-family: Neucha, sans-serif;
  font-style: normal;

  line-height: 1.2em;
}

h1,
.h1 {
  font-size: 72px;
}

h2,
.h2 {
  font-size: 60px;
}

h3,
.h3 {
  font-size: 34px;
}

.h4 {
  font-size: 24px;
}

/*** Containers ***/
.container {
  max-width: 1140px;
  margin: 0 auto;

  padding: 100px 15px;
}

.row {
  display: flex;
  flex-wrap: wrap;

  margin-right: -15px;
  margin-left: -15px;
}

.column {
  padding: 0 15px;
}

.column-6 {
  width: calc(100% / 2);
}

.column-4 {
  width: calc(100% / 3);
}

.bg-light {
  background-color: var(--white-light-color);
}

.bg-brown {
  background-color: var(--brown-color);
}

.bg-dark {
  background-color: var(--main-dark-color);
}

.bg-questions {
  position: relative;

  overflow: hidden;
}

.bg-questions::before {
  position: absolute;

  width: 100%;
  height: 100%;

  background-image: url('../assets/images/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;

  content: '';
}

/** HEADER **/
.header-image {
  position: absolute;
  top: 55px;
  right: -270px;

  height: 525px;
}

/** Video Container **/
.shadow {
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

/** Navigation Container **/
.card {
  display: block;
  height: 100%;
  padding: 24px;

  color: var(--dark-color);

  text-decoration: none;

  background-color: var(--white-light-color);
}

.card p {
  margin-bottom: 0;
}

.card:hover {
  background-color: var(--primary-color);
}

.card:hover * {
  color: #fff;
}

.card-number {
  margin-bottom: 40px;

  font-size: 64px;
  font-family: Neucha, sans-serif;
  line-height: 1;
}

/*** Information Container ***/
.content p:first-child {
  margin-top: 0;
}

.content p:last-child {
  margin-bottom: 0;
}

.line-breaking-text {
  margin-top: 90px;
  margin-bottom: 20px;
  padding: 5px 0 5px 10px;

  font-weight: bold;
  font-size: 14px;
  font-family: Open Sans, sans-serif;
  text-transform: uppercase;
}

.white-section-brown-text {
  color: var(--brown-color);

  background-color: #fff;
}

.brown-section-white-text {
  color: #fff;

  background-color: var(--brown-color);
}

/*** FOOTER ***/
.form-input {
  width: 100%;
  height: 50px;

  padding: 15px;
}

/*** Button classes ***/
.btn {
  display: inline-block;

  padding: 12px 24px;

  border: none;

  font-weight: bold;

  text-transform: uppercase;

  text-decoration: none;

  cursor: pointer;
}

.btn-icon {
  display: inline-block;

  border: none;

  font-weight: bold;

  text-transform: uppercase;

  text-decoration: none;

  cursor: pointer;
}

.btn-email {
  width: 70px;
  height: 50px;
}

.btn-primary {
  color: #fff;

  background-color: var(--primary-color);
}

.btn-primary:hover {
  background-color: #ea7600;
}

.btn-email::before {
  display: block;
  width: 25px;
  height: 25px;
  margin: 0 auto;

  background: url('../assets/images/send.svg');
  background-repeat: no-repeat;
  background-size: cover;

  content: "";
}

/*** General Styles ***/
iframe {
  border: none;
}

img {
  vertical-align: middle;
}

.border-none {
  border: none;
}

/** Atomic CSS **/
.display-flex {
  display: flex;
}

.display-block {
  display: block;
}

.color-white {
  color: #fff;
}

.color-white-transparent {
  color: var(--white-transparent-color);
}

.color-primary {
  color: var(--primary-color);
}

.color-dark {
  color: var(--dark-color);
}

.color-secondary {
  color: var(--secondary-color);
}

.font-size-12 {
  font-size: 12px;
}

.font-size-52 {
  font-size: 52px;
}

.font-size-18 {
  font-size: 18px;
}

.font-size-14 {
  font-size: 14px;
}

.font-size-34 {
  font-size: 34px;
}

/*** Padding and Margin styles ***/
.margin-top-25 {
  margin-top: 25px;
}

.margin-bottom-9 {
  margin-bottom: 9px;
}

.margin-top-180 {
  margin-top: 180px;
}

.margin-top-38 {
  margin-top: 38px;
}

.margin-y-15 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.margin-top-70 {
  margin-top: 70px;
}

.padding-top-100 {
  padding-top: 100px;
}

.padding-40 {
  padding: 40px;
}

.margin-bottom-neg-200 {
  margin-bottom: -200px;
}

.margin-bottom-30 {
  margin-bottom: 30px;
}

.margin-top-0 {
  margin-top: 0;
}

.row-gap-20 {
  row-gap: 20px;
}

.z-index-1 {
  z-index: 1;
}

.position-relative {
  position: relative;
}

.text-align-center {
  text-align: center;
}

.flex-no-wrap {
  flex-wrap: nowrap;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

.align-self-center {
  align-self: center;
}
