/** Defining Fonts **/
@font-face {
  font-family: 'Neucha';
  src: url('../assets/fonts/Neucha-Regular.ttf');
}

@font-face {
  font-weight: normal;
  font-family: 'Open Sans';
  src: url('../assets/fonts/OpenSans-Regular.ttf');
}

@font-face {
  font-weight: bold;
  font-family: 'Open Sans';
  src: url('../assets/fonts/OpenSans-Bold.ttf');
}

@font-face {
  font-weight: italic;
  font-family: 'Open Sans';
  src: url('../assets/fonts/OpenSans-Bold.ttf');
}

/** Main CSS Styles **/

.color-white {
  color: #fff;
}

.color-white-transparent {
  color: #d7ccc0;
}

.color-white-light {
  color: #f5f4f0;
}

.color-main {
  color: #fe8a02;
}

.color-main-dark {
  color: #42413c;
}

.color-dark {
  color: #2a2626;
}

.color-dark-transparent {
  color: #908d8b;
}

.color-brown {
  color: #b09a81;
}

.color-blue {
  color: #1085c5;
}

body {
  color: #2a2626;

  font-size: 16px;
  font-family: Open Sans, sans-serif;
  line-height: 1.6em;
}

header,
footer,
main {
  width: 100%;
}

h1,
h2,
h3,
h4 {
  font-family: Neucha, sans-serif;
  line-height: 1.2em;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 100px 0;
}
